// colors
$black: #28282C;
$prime:#071F5D;
$prime-mob: #01478A;
$second: #FFBA49;
$red: #FA4235;


//btn
$btn-secondary: #252525;

//gradients
$gr-prime:linear-gradient(141.51deg, #071F5D -8.13%, #01478A 80.84%);
$gr-second:linear-gradient(76.01deg, #FFBA49 22.58%, #FFD749 75.42%);
$gr-footer: linear-gradient(154.47deg, #071F5D 0%, #01478A 119.49%);

// transition
$fast: 0.3s all;
$slow: 0.5s all;
$long: 0.9s all;

// radius
// shadow
// bg images urls