nav {
  @include col();
  @include size(8/12);
  display: flex;
  align-self: flex-end;
  color: $prime;
  font-family: "Rubik";
  font-style: normal;
  font-weight: 500;
  margin: 0 auto;

  @include lg {
    @include size(4.2/6);
  }

  @include sm {
    display: none;
    @include size(1);
    margin-left: 0;
    color: $prime;
  }


  >ul {
    width: 100%;
    display: flex;
    justify-content: space-between;
    text-transform: uppercase;
    font-size: 14px;

    @include lg {
      font-size: 12px;
      line-height: 130%;
    }

    @include sm {
      flex-direction: column;
      font-weight: 500;
      font-size: 16px;
      line-height: 130%;
    }

    >li {
      margin-bottom: auto;
      position: relative;
      font-weight: 500;
      cursor: pointer;
      position: relative;
      transition: 0.3s;

      a {
        color: $prime;

        &:hover {
          // color: $second;
          transition: 0.3s;
        }

        @include sm {
          color: $prime;
        }
      }

      @include sm {
        align-self: flex-start;
        margin-bottom: 20px;
      }

      &:hover {
        color: $second;
        transition: 0.3s;

        ul {
          display: block;
        }
      }



      //start SUBMENU
      >ul {
        display: none;
        position: absolute;
        min-width: 150px;
        left: -17px;

        @include sm {
          position: relative;
          width: fit-content;
          padding-top: 20px;
          left: 20px;
        }

        li {
          background: rgba(255, 255, 255, 1);
          padding: 7px 17px;
          @include sm{
            background: none;
            // padding-left: 17px;
            &:not(:last-child){
              margin-bottom: 10px;
            }
          }
          
          a {
            color: $prime;
            transition: 0.3s;
            @include sm{
              padding: 0;
            }

            @include sm {
              font-weight: normal;
              font-size: 16px;
              line-height: 130%;
              color: $prime;
            }

          }
          &:hover {
            background: $prime;
            a{
              color: #fff;
            }
          }
        }
      }
    }
  }
}

.arrow_menu {
  &:hover {
    @include sm {
      &::before {
        border-left: 0 solid #fff;
      }

    }

    &::after,
    &::before {
      transition: 0.3s;
      // border-left: 2px solid $second;
      right: -13px;

      @include lg {
        right: -10px;
      }

      @include sm {
        // border-bottom: 2px solid $second;
        transform: rotate(-45deg);
        right: -15px;
      }
    }
  }

  &::after,
  &::before {
    content: attr(data-el);
    display: block;
    border-left: 2px solid $prime;
    height: 8px;
    position: absolute;
    bottom: 0;
    top: 0;
    right: -10px;

    @include lg {
      right: -8px;
    }

    @include sm {
      border-left: 2px solid $prime;
      right: -15px;
    }
  }

  &::after {
    transform: rotate(-45deg);
    top: 2px;

    @include lg {
      top: 0;
    }

    @include sm {
      border-bottom: 2px solid $prime;
      width: 8px;
      top: 4px;
      transform: rotate(-140deg);
    }
  }

  &::before {
    transform: rotate(45deg);
    top: 7px;

    @include lg {
      top: 5px;
    }

    @include sm {
      border-left: 0 solid #fff;

      top: 7px;
    }
  }
}

.arrow_menu_link {
  &:hover {
    @include sm {
      &::before {
        border-left: 0 solid #fff;
      }

    }

    &::after,
    &::before {
      transition: 0.3s;
      // border-left: 2px solid $second;
      right: -13px;

      @include lg {
        right: -10px;
      }

      @include sm {
        // border-bottom: 2px solid $second;
        transform: rotate(-45deg);
        right: -15px;
      }
    }
  }

  &::after,
  &::before {
    content: attr(data-el);
    display: block;
    border-left: 2px solid $second;
    height: 8px;
    position: absolute;
    bottom: 0;
    top: 0;
    right: -10px;

    @include lg {
      right: -8px;
    }

    @include sm {
      border-left: 2px solid $second;
      right: -15px;
    }
  }

  &::after {
    transform: rotate(-45deg);
    top: 2px;

    @include lg {
      top: 0;
    }

    @include sm {
      border-bottom: 2px solid $second;
      width: 8px;
      top: 4px;
      transform: rotate(-140deg);
    }
  }

  &::before {
    transform: rotate(45deg);
    top: 7px;

    @include lg {
      top: 5px;
    }

    @include sm {
      border-left: 0 solid #fff;

      top: 7px;
    }
  }
}

.link{
  color: $second;
}