.contact-us {

    &__wrapper-btn {
        padding-top: 50px;
        padding-bottom: 50px;

        @include md {
            padding-top: 35px;
            padding-bottom: 35px;
        }
    }

    &__inner-btn {
        display: flex;
        justify-content: center;
        margin: 0 auto;
        width: 100%;

        a {
            @include col();
            @include size(2/12);
            background: $gr-second;
            text-align: center;
            padding-top: 14px;
            padding-bottom: 14px;
            font-style: normal;
            font-weight: 500;
            font-size: 18px;
            color: $prime;

            @include md {
                @include size(2/6);
            }

            @include sm {
                @include size(1);
            }
        }
    }
}

.container {}

.row {}