.crumbs{
    &__wrap-breadcrumbs {
        @include size(1);
        text-transform: uppercase;
        font-family: 'Rubik';
        font-style: normal;
        font-weight: normal;
        font-size: 14px;
        color: #fff;
        position: relative;
        top: 20px;
        
        @include sm{
         top: 0; 
        }
    
        a {
          color: #fff;
          transition: .3s;
    
          &:hover {
            color: $second;
          }
        }
      }
    
      &__breadcrumb {}
}
