.crumbs {
  &__wrap-breadcrumbs {
    @include size(1);
    text-transform: uppercase;
    font-family: "Rubik";
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    color: $prime;
    position: relative;
    padding-top: 20px;

    @include sm {
      padding-top: 0;
      top: 0;
    }

    a {
      color: $prime;
      transition: 0.3s;

      &:hover {
        color: $second;
      }
    }
  }

  &__breadcrumb {
  }
}
